setuptools==75.1.0
matplotlib==3.9.2
numpy==1.26.4
opencv_python==4.10.0.84
opencv_python_headless==4.10.0.84
python-dotenv==1.0.1
segment_anything==1.0
Shapely==2.0.5
torch==2.3.1
python-fasthtml==1.0.0
torch==2.4.1
torchvision==0.19.1
mpld3==0.5.10
flask==3.0.3
tornado==6.4.1