{# templates/home_page.html.jinja2 #}
{% extends "base.html.jinja2" %}

{% block title %}Home Page{% endblock %}

{% block content %}
{% from "components/samples_table.html.jinja2" import samples_table %}
<div id="home-page">
    <h2>Welcome to the Home Page</h2>
    <p>This is the home page of the application.</p>
        {{ samples_table(image_data) }}
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
</div>

{% endblock %}