{# templates/home_page.html.jinja2 #}
{% extends "base.html.jinja2" %}

{% block title %}Home Page{% endblock %}

{% block content %}

<div id="home-page">
    <h1>Welcome to the Home Page</h1>
    <p>This is the home page of the application.</p>
    {% for image in image_data %}
    <img src="data:image/png;base64, {{ image }}" alt="Home Page Image" style="height:70px;width:70px">
    {% endfor %}
    <form method="POST" action="/upload" enctype="multipart/form-data">
        <input type="file" name="file">
        <input type="submit" value="Upload">
    </form>
</div>

{% endblock %}